 html {
  --google-grey-850-rgb: 48, 49, 52;  /* #303134 */
  --google-grey-850: rgb(var(--google-grey-850-rgb));
  --google-red-50-rgb: 252, 232, 230;  /* #fce8e6 */
  --google-red-50: rgb(var(--google-red-50-rgb));
  --google-red-800-rgb: 179, 20, 18;  /* #b31412 */
  --google-red-800: rgb(var(--google-red-800-rgb));
  --ntp-focus-shadow: 0 0 0 2px var(--color-new-tab-page-focus-ring);
  --ntp-module-text-size: 13px;
}
.container {
display: flex;
align-items: center;
justify-content: center;
}
.search-bar {
  width: 100%;
  max-width: 700px;
  background: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #000000;
}
::placeholder {
  color: #000000;
}

.search-bar button img{
  width: 25px;
}
.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}
